#wrapper {
  width:100%;
  display:table;
}

#wrapper > * {
  display: table-cell;
}

nav {
  background: lightblue;
  width:15%;
}

main {
  background: lightyellow;
}

aside {
  background: lightgreen;
  width: 20%;
}
